img {
  display: block;
}

p,
button {
  display: block;
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 380px;
  height: 460px;

  margin: 50px auto 0px;

  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);

  border-radius: 20px;
}

.card__logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.card__background {
  position: absolute;

  top: 28px;
  left: 36px;
}

.card__avatar {
  position: relative;

  padding-top: 178px;

  z-index: 1;

  &-img {
    position: relative;
  }

  &::before {
    position: absolute;

    content: "";

    bottom: 44px;
    left: -145px;

    width: 100%;
    height: 8px;

    width: 380px;

    background: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
      inset 0px -1.71846px 3.43693px #ae7be3,
      inset 0px 3.43693px 2.5777px #fbf8ff;
  }
}

.card__user-tweets {
  margin-top: 20px;
}

.card__user-followers {
  margin-top: 10px;
}

.card__btn {
  margin-top: 26px;
  padding: 14px 56px;

  color: #373737;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  border: none;
  cursor: pointer;
}
